@using iTuinBook.Models;

@{
    ViewBag.Title = "Area";
    Layout = "~/Views/Shared/_LayoutVacio.cshtml";    
}


<span style="font-size: medium; font-weight:bold;">PUNTOS: <span id="puntos">0</span></span>

<iframe id="escritorio" src="" style="width:100%; height: 530px;">


</iframe> 

<div id="escena">
    <span id="conversacion">
        <img width="200" src="~/Content/images/Ramiro.png" style="float:left;margin-top:15px" />
        <img width="200" src="~/Content/images/Lue.png" style="float:right;margin-top:15px" />
        
        <div class="speech_bubble" style="visibility:visible;">
            <text id="textbox"></text>
            <div id="arrow" class="arrow_border_right"></div>
            <div id="arrow2" class="bubble_arrow_right"></div>
        </div>
        
        <button id="btnAnterior">Anterior</button>
        <button id="btnSiguiente">Siguiente</button> 
         
        <button id="btnAntFDBK" disabled="disabled">Anterior</button>
        <button id="btnSigFDBK">Siguiente</button> 
    </span>
      
    <button id="btnMinimizar" style="float:right;">Ocultar</button>    
    <span id="intercomunicador" hidden="hidden"></span>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        function HablaRamiro() {
            $("#arrow").removeClass("arrow_border_right");
            $("#arrow").addClass("arrow_border_left");
            $("#arrow2").removeClass("bubble_arrow_right");
            $("#arrow2").addClass("bubble_arrow_left");
            $(".speech_bubble").css("background-color", "#CFF0FB")
            $(".speech_bubble").css("visibility", "visible")
        }
        function HablaLue() {
            $("#arrow").removeClass("arrow_border_left");
            $("#arrow").addClass("arrow_border_right");
            $("#arrow2").removeClass("bubble_arrow_left");
            $("#arrow2").addClass("bubble_arrow_right");
            $(".speech_bubble").css("background-color", "#E4FFB1")
            $(".speech_bubble").css("visibility", "visible")
        }

        $(document).ready(function () {
            $("#btnAntFDBK").hide();
            $("#btnSigFDBK").hide();

            var mensajeFDBK = "";
            var paramFDBK;
            var numFDBK = 0;
            var mensajeCont = "";

            feedbackCompleto = function (sms) {
                mensajeFDBK = sms + "";
   
                HablaRamiro();

                $("#textbox").html(mensajeFDBK.replace("USUARIO", '@ViewBag.Nombre'));

                if ($("#escritorio").attr("style") == "width:100%; height: 744px;") {
                    $("#escritorio").attr("style", "width:100%; height: 530px;");
                    $("#conversacion").show();
                    $(this).text("Ocultar");
                    flag = 1;
                }
            }

            feedback = function (sms) {
                mensajeFDBK = sms + "";

                paramFDBK = mensajeFDBK.split('/');
                numFDBK = paramFDBK.length;

                if (paramFDBK.length > 0) // Hay feedback
                {
                    if (paramFDBK[0] == "") { //Empieza Lue
                        HablaLue();

                        $("#textbox").html(paramFDBK[1].replace("USUARIO", '@ViewBag.Nombre'));
                        numFDBK = 2;
                    }
                    else { // Empieza Ramiro
                        HablaRamiro();

                        $("#textbox").html(paramFDBK[0].replace("USUARIO", '@ViewBag.Nombre'));
                        numFDBK = 1;
                    }
                }

                //if el primero esta vacio, habla lue, sino, habla ramiro
            }

            var AccionActual = parseInt(@ViewBag.accActual);

            $("#btnSigFDBK").click(function () {
                $(".speech_bubble").css("visibility", "hidden")
                
                if (paramFDBK.length > 0 && paramFDBK.length > numFDBK) {
                    if (numFDBK % 2) { // Impar: Lue
                        HablaLue();
                    }
                    else { // Par: Ramiro
                        HablaRamiro();
                    }

                    $("#textbox").html(paramFDBK[numFDBK].replace("USUARIO", '@ViewBag.Nombre'));
                    numFDBK = numFDBK + 1;
                }
                else {
                    $("#btnAntFDBK").hide();
                    $("#btnSigFDBK").hide();
                    $("#btnAnterior").show();
                    $("#btnSiguiente").show();
                    
                    var src = "";
                    var sms = "";

                    AccionActual = AccionActual + 1;
                    var datetimeclient = new Date();
                    datetimeclient = datetimeclient.toISOString();
                    $.ajax({
                        url: '/iTuinBook/CambiarAccion',
                        type: 'POST',
                        data: { GrupoID: parseInt('@ViewBag.GrupoID'), ModuloID: parseInt('@ViewBag.ModuloID'), escActual: parseInt('@ViewBag.escActual'), accActual: parseInt(AccionActual), moment: datetimeclient},
                        success: function (result) {
                        switch (result.CodeOP) {
                            case 1: // Habla Ramiro
                                HablaRamiro();
                                break;
                            case 2:
                                HablaRamiro();
                                break;
                            case 3: // Habla Lue
                                HablaLue();
                                break;
                            case 4:
                                HablaLue();
                                break;
                            case 5:
                                break;
                            case 6:
                                break;
                            case 7: // Mostrar Texto Completo
                                HablaRamiro();

                                src = "/iTuinBook/TextoCompleto?TextoID=" + result.TextoID;

                                window.parent.$("#escritorio").attr("src", src);
                                break;
                            case 8:
                                break;
                            case 9: // Mostrar Pagina
                                HablaRamiro();

                                src = "/iTuinBook/Pagina?TextoID=" + result.TextoID;

                                $("#escritorio").attr("src", src);
                                break;
                            case 10:
                                break;
                            case 11: // Mostrar Pregunta
                                HablaRamiro();

                                src = "/iTuinBook/PreguntaSimple?PreguntaID=" + result.PreguntaID;

                                window.parent.$("#escritorio").attr("src", src);
                                break;
                            case 12: // Quitar Pregunta
                                HablaRamiro();

                                src = "/iTuinBook/Escritorio"

                                window.parent.$("#escritorio").attr("src", src);
                                break;
                        }

                        $("#puntos").text(result.Puntos);

                        $("#textbox").html(result.Mensaje.replace("USUARIO", '@ViewBag.Nombre'));

                    },
                    error: function () {
                        alert("Ha ocurrido un error. Levanta la mano y espera.");
                    }
                });
                }
            });

            @{
                Accion acc = (Accion)ViewBag.Accion;
                var src = "";
                var accActual = (int)ViewBag.accActual;                    
                
                @: mensajeCont = '@acc.Mensaje'
                
                switch(acc.CodeOP)
                {
                    case 1: // Habla Ramiro
                        <text>
                        if (mensajeCont[0] != "") {
                            HablaRamiro();

                        }
                        $(".speech_bubble").css("border", "1px solid")
                        </text>
                        break;
                    case 2:
                        <text>
                        if (mensajeCont[0] != "") {
                            HablaRamiro();

                        }
                        $(".speech_bubble").css("border", "1px dashed")
                        </text>
                        break;
                    case 3: // Habla Lue
                        <text>
                        HablaLue();
                        $(".speech_bubble").css("border", "1px solid")
                        </text>
                        break;
                    case 4:
                        <text>
                        HablaLue();
                        $(".speech_bubble").css("border", "1px dashed")
                        </text>
                        break;
                    case 5:
                        break;
                    case 6:
                        break;
                    case 7: // Mostrar Texto Completo
                        <text>
                        if ('@acc.Mensaje[0]' != '/') {
                            if (mensajeCont != "") {
                                HablaRamiro();
                            }
                        }
                        else {
                            var str = mensajeCont + "";
                            HablaLue();
                            mensajeCont = str.substring(1);
                        }

                        src = "/iTuinBook/TextoCompleto?TextoID=" + '@ViewBag.TextoID';

                        $("#btnAnterior").hide();
                        $("#btnSiguiente").hide();

                        $("#escritorio").attr("src", src);
                        </text>
                        break;
                    case 8:
                        <text>
                        if ('@acc.Mensaje[0]' != '/') {
                            if (mensajeCont != "") {
                                HablaRamiro();
                            }
                        }
                        else {
                            var str = mensajeCont + "";
                            HablaLue();
                            mensajeCont = str.substring(1, str.length);
                        }
                        </text>
                        break;
                    case 9: // Mostrar Pagina
                        <text>
                        if ('@acc.Mensaje[0]' != '/') {
                            if (mensajeCont != "") {
                                HablaRamiro();
                            }
                        }
                        else {
                            var str = mensajeCont + "";
                            HablaLue();
                            mensajeCont = str.substring(1, str.length);
                        }

                        src = "/iTuinBook/Pagina?TextoID=" + '@ViewBag.TextoID';

                        $("#escritorio").attr("src", src);
                        </text>
                        break;
                    case 10:
                        <text>
                        if ('@acc.Mensaje[0]' != '/') {
                            if (mensajeCont != "") {
                                HablaRamiro();
                            }
                        }
                        else {
                            var str = mensajeCont + "";
                            HablaLue();
                            mensajeCont = str.substring(1, str.length);
                        }
                        </text>
                        break;
                    case 11: // Mostrar Pregunta
                        <text>
            
                        if (mensajeCont[0] != '/') {
                            if (mensajeCont != "") {
                                HablaRamiro();
                            }
                        }
                        else {
                            var str = mensajeCont + "";
                            HablaLue();                            
                            mensajeCont = str.substring(1, str.length);
                        }
            
                        src = "/iTuinBook/PreguntaSimple?PreguntaID=" + '@ViewBag.PreguntaID';
                        window.parent.$("#escritorio").attr("src", src);
                        </text>
                        break;
                    case 12: // Quitar Pregunta
                        <text>
                        if ('@acc.Mensaje[0]' != '/') {
                            if (mensajeCont != "") {
                                HablaRamiro();
                            }
                        }
                        else {
                            var str = mensajeCont + "";
                            HablaLue();
                            mensajeCont = str.substring(1, str.length);
                        }

                        src = "/iTuinBook/Escritorio"

                        window.parent.$("#escritorio").attr("src", src);
                        </text>
                        break;
                    default:
                        break;
                }
                
                <text>
                    $("#textbox").html(mensajeCont.replace("USUARIO", '@ViewBag.Nombre'));
                </text>
            }
            
            $("#btnAnterior").click(function () {
                $(".speech_bubble").css("visibility", "hidden")

                var $elt = $('#btnSiguiente');

                var $elt2 = $('#btnAnterior');

                var src = "";
                var sms = "";

                $("#btnAnterior").show();
                $("#btnSiguiente").show();
                $("#btnSigFDBK").hide();

                if(AccionActual > 0)
                    AccionActual = AccionActual - 1;
                var datetimeclient = new Date();
                datetimeclient = datetimeclient.toISOString();
                $.ajax({
                    url: '/iTuinBook/CambiarAccion',
                    type: 'POST',
                    data: { GrupoID: parseInt('@ViewBag.GrupoID'), ModuloID: parseInt('@ViewBag.ModuloID'), escActual: parseInt('@ViewBag.escActual'), accActual: parseInt(AccionActual), moment: datetimeclient},
                    success: function (result) {
                        switch (result.CodeOP) {
                            case 1: // Habla Ramiro
                                if (result.Mensaje != "") {
                                    HablaRamiro();

                                }
                                $(".speech_bubble").css("border", "1px solid")
                                break;
                            case 2:
                                if (result.Mensaje != "") {
                                    HablaRamiro();

                                }
                                $(".speech_bubble").css("border", "1px dashed")
                                break;
                            case 3: // Habla Lue
                                HablaLue();
                                $(".speech_bubble").css("border", "1px solid")
                                break;
                            case 4:
                                HablaLue();
                                $(".speech_bubble").css("border", "1px dashed")
                                break;
                            case 5:
                                break;
                            case 6:
                                break;
                            case 7: // Mostrar Texto Completo
                                if (result.Mensaje[0] != '/') {
                                    if (result.Mensaje != "") {
                                        HablaRamiro();
                                    }
                                }
                                else {
                                    var str = result.Mensaje + "";
                                    HablaLue();
                                    result.Mensaje = str.substring(1, str.length - 1);
                                }
                                break;
                            case 8:
                                if (result.Mensaje[0] != '/') {
                                    if (result.Mensaje != "") {
                                        HablaRamiro();
                                    }
                                }
                                else {
                                    var str = result.Mensaje + "";
                                    HablaLue();
                                    result.Mensaje = str.substring(1, str.length - 1);
                                }
                                break;
                            case 9: // Mostrar Pagina
                                if (result.Mensaje[0] != '/') {
                                    if (result.Mensaje != "") {
                                        HablaRamiro();
                                    }
                                }
                                else {
                                    var str = result.Mensaje + "";
                                    HablaLue();
                                    result.Mensaje = str.substring(1, str.length - 1);
                                }

                                src = "/iTuinBook/Pagina?TextoID=" + result.TextoID;

                                $("#escritorio").attr("src", src);
                                break;
                            case 10:
                                if (result.Mensaje[0] != '/') {
                                    if (result.Mensaje != "") {
                                        HablaRamiro();
                                    }
                                }
                                else {
                                    var str = result.Mensaje + "";
                                    HablaLue();
                                    result.Mensaje = str.substring(1, str.length - 1);
                                }
                            case 11: // Mostrar Pregunta
                                if (result.Mensaje[0] != '/')
                                    HablaRamiro();
                                else {
                                    var str = result.Mensaje + "";
                                    HablaLue();
                                    result.Mensaje = str.substring(1, str.length - 1);
                                }

                                src = "/iTuinBook/PreguntaSimple?PreguntaID=" + result.PreguntaID;
                                window.parent.$("#escritorio").attr("src", src);
                                break;
                            case 12: // Quitar Pregunta
                                if (result.Mensaje[0] != '/') {
                                    if (result.Mensaje != "") {
                                        HablaRamiro();
                                    }
                                }
                                else {
                                    var str = result.Mensaje + "";
                                    HablaLue();
                                    result.Mensaje = str.substring(1, str.length - 1);
                                }

                                src = "/iTuinBook/Escritorio"

                                window.parent.$("#escritorio").attr("src", src);
                                break;
                        }

                        $("#textbox").html(result.Mensaje.replace("USUARIO", '@ViewBag.Nombre'));

                    },
                    error: function () {
                        alert("Has acabado. Levanta la mano y espera.");
                    }
                });
            });

            $("#btnSiguiente").click(function () {
                $(".speech_bubble").css("visibility", "hidden")

                var $elt = $('#btnSiguiente');
                
                var $elt2 = $('#btnAnterior');

                var src = "";
                var sms = "";

                AccionActual = AccionActual + 1;
                var datetimeclient = new Date();
                datetimeclient = datetimeclient.toISOString();

                $.ajax({
                    url: '/iTuinBook/CambiarAccion',
                    type: 'POST',
                    data: { GrupoID: parseInt('@ViewBag.GrupoID'), ModuloID: parseInt('@ViewBag.ModuloID'), escActual: parseInt('@ViewBag.escActual'), accActual: parseInt(AccionActual) ,moment:datetimeclient},
                    success: function (result) {
                        switch (result.CodeOP)
                        {
                            case 1: // Habla Ramiro
                                if (result.Mensaje != "") {
                                    HablaRamiro();

                                }
                                $(".speech_bubble").css("border", "1px solid")
                                break;
                            case 2:
                                if (result.Mensaje != "") {
                                    HablaRamiro();

                                }
                                $(".speech_bubble").css("border", "1px dashed")
                                break;
                            case 3: // Habla Lue
                                HablaLue();
                                $(".speech_bubble").css("border", "1px solid")
                                break;
                            case 4:
                                HablaLue();
                                $(".speech_bubble").css("border", "1px dashed")
                                break;
                            case 5:
                                break;
                            case 6:
                                break;
                            case 7: // Mostrar Texto Completo
                                if (result.Mensaje[0] != '/') {
                                    if (result.Mensaje != "") {
                                        HablaRamiro();
                                    }
                                }
                                else {
                                    var str = result.Mensaje + "";
                                    HablaLue();
                                    result.Mensaje = str.substring(1);
                                }

                                src = "/iTuinBook/TextoCompleto?TextoID=" + result.TextoID;

                                $("#btnAnterior").hide();
                                $("#btnSiguiente").hide();

                                $("#escritorio").attr("src", src);
                                break;
                            case 8:
                                if (result.Mensaje[0] != '/') {
                                    if (result.Mensaje != "") {
                                        HablaRamiro();
                                    }
                                }
                                else {
                                    var str = result.Mensaje + "";
                                    HablaLue();
                                    result.Mensaje = str.substring(1, str.length);
                                }
                                break;
                            case 9: // Mostrar Pagina
                                if (result.Mensaje[0] != '/') {
                                    if (result.Mensaje != "") {
                                        HablaRamiro();
                                    }
                                }
                                else {
                                    var str = result.Mensaje + "";
                                    HablaLue();
                                    result.Mensaje = str.substring(1, str.length);
                                }

                                src = "/iTuinBook/Pagina?TextoID=" + result.TextoID;

                                $("#escritorio").attr("src", src);
                                break;
                            case 10:
                                if (result.Mensaje[0] != '/') {
                                    if (result.Mensaje != "") {
                                        HablaRamiro();
                                    }
                                }
                                else {
                                    var str = result.Mensaje + "";
                                    HablaLue();
                                    result.Mensaje = str.substring(1, str.length);
                                }
                            case 11: // Mostrar Pregunta
                                if (result.Mensaje[0] != '/') {
                                    if (result.Mensaje != "") {
                                        HablaRamiro();
                                    }
                                }
                                else {
                                    var str = result.Mensaje + "";
                                    HablaLue();
                                    result.Mensaje = str.substring(1, str.length);
                                }

                                src = "/iTuinBook/PreguntaSimple?PreguntaID=" + result.PreguntaID;
                                window.parent.$("#escritorio").attr("src", src);
                                break;
                            case 12: // Quitar Pregunta
                                if (result.Mensaje[0] != '/') {
                                    if (result.Mensaje != "") {
                                        HablaRamiro();
                                    }
                                }
                                else {
                                    var str = result.Mensaje + "";
                                    HablaLue();
                                    result.Mensaje = str.substring(1, str.length);
                                }

                                src = "/iTuinBook/Escritorio"

                                window.parent.$("#escritorio").attr("src", src);
                                break;
                            case 100:
                                // data.redirect contains the string URL to redirect to
                                window.location.href = result.redirect;
                                break;
                        }
                        
                        
                        $("#textbox").html(result.Mensaje.replace("USUARIO", '@ViewBag.Nombre'));
                        
                    },
                    error: function () {
                        alert("Has acabado. Levanta la mano y espera.");
                    }
                });
            });


            var flag = 0;

            $("#btnMinimizar").click(function () {
                if ($("#escritorio").attr("style") == "width:100%; height: 744px;") {
                    $("#escritorio").attr("style", "width:100%; height: 530px;");
                    $("#conversacion").show();
                    $(this).text("Ocultar");
                    flag = 1;
                }
                else {
                    $("#escritorio").attr("style", "width:100%; height: 744px;");
                    $("#conversacion").hide();
                    $(this).text("Mostrar");
                }
            });
            
            function cambiarTamanyo() {
                if(flag == 0)
                    window.parent.$("#escritorio").attr("height", "744px");

                flag = 0;
            }
        });
    </script>
}