@using ReadAndLearn.Models;
@model ReadAndLearn.Models.Pregunta

@{
    ViewBag.Title = "PL0_Pregunta";
    Layout = "~/Views/Shared/_LayoutNada.cshtml";
    DatosUsuario du = (DatosUsuario)ViewBag.DatosUsuario;
    ConfigModulo configModulo = (ConfigModulo)ViewBag.ConfigModulo;
    ConfigPregunta configPregunta = (ConfigPregunta)ViewBag.ConfigPregunta;
    DatoSimple ds = (DatoSimple)ViewBag.Seleccion;
}

<div style="margin: 15px 20px;" id="areaPregunta">
    <div style="float:right;">
        <b>PUNTOS:</b>
        <span style="padding-left: 5px;" id="puntos">@du.Puntos</span>
    </div>

    <div id=enunciado style="padding-left: 20px; padding-right: 20px;">
        @Html.Raw(Model.Enunciado)    
        @if (Model.Ayuda != null)
        {
            <div id="ayuFlotador" hidden="hidden"; style="border-style:solid; border-color:#b0c4de; background-color:#e0ffff; width:50%;"><img width="12" height="12" style="padding-left: 5px; padding-right: 5px;" src="~/Content/Ayudas/ayuda_flotador.jpg" /><b>@Model.Ayuda.ParafraseoN1</b></div>
        }
    </div>
     
    <div style="padding-left: 20px; padding-right: 20px;">
        <p><b>Selecciona el texto pertinente para responder a la pregunta:</b></p>
        <textarea id="seleccion" style="width: 100%;"></textarea>
        <button id="btnValidarSeleccion">Validar</button>    
        <button id="btnBorrarSeleccion">Borrar</button>
    </div>

    <div id="ayudas" style="float:right; visibility: hidden;">    
        @if (Model.Ayuda != null)
        {
            if (Model.Ayuda.ParafraseoN1 != null)
            {
                <img id="btnFlotador" width="50" height="50" src="~/Content/Ayudas/ayuda_flotador.jpg" />
            }

            if (Model.Ayuda.Prismaticos != null)
            {
                <img id="btnPrismaticos" width="50" height="50" src="~/Content/Ayudas/ayuda_texto_1.png" />
            }

            if (Model.Ayuda.Lupa != null)
            {
                <img id="btnLupa" width="50" height="50" src="~/Content/Ayudas/ayuda_texto_2.png" />
            }
        } 
    </div>
</div> 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">        
        $(document).ready(function () {
            var timeStart = new Date();
            var timeFinish = new Date();

            @if(configPregunta != null && configPregunta.EnmascararTexto)
            {
                <text>
                parent.BlurPagina("True");
                window.parent.$('.paginas').css("-webkit-filter", "blur(5px)");
                window.parent.$('.paginas').css("filter", "url(#example-one)");
                </text>
            }
            else
            {
                <text>
                parent.BlurPagina("False");
                window.parent.$('.paginas').css("-webkit-filter", "");
                window.parent.$('.paginas').css("filter", "");
                </text>
            }

            $('#seleccion').focus(function () {
                $(this).blur();
            });

            $('#btnBorrarSeleccion').click(function () {
                $('#seleccion').val("");
                jQuery("#btnValidarSeleccion").attr('disabled', true);
            });

            jQuery("#btnValidarSeleccion").attr('disabled', true);

            $('#seleccion').bind("drop", function (event, ui) {
                if (event.stopPropagation) event.stopPropagation();

                $.ajax({
                    url: 'Algoritmo',
                    type: 'POST',
                    data: { Pertinente: $('#seleccion').val(), TextoID: '@Model.Texto.TextoID', NuevaSeleccion: event.originalEvent.dataTransfer.getData('Text').toString(), PreguntaID: '@Model.PreguntaID' },
                    success: function (result) {
                        $('#seleccion').val(result.result);

                        if ($('#seleccion').val() == "") { // Comprueba que no está vacío ni contiene únicamente espacios en blanco.
                            jQuery("#btnValidarSeleccion").attr('disabled', true);
                        }
                        else {
                            jQuery("#btnValidarSeleccion").attr('disabled', false);
                        }
                    },
                    error: function () {
                        alert("No selecciones espacios entre párrafos. Haz dos selecciones.");
                    }
                });
            });

            $("#btnValidarSeleccion").click(function () {
                $("#btnValidarSeleccion").attr("disabled", "disabled");


                //guirisan/secuencias
                //datetime set in client
                var datetimeclient = new Date().toISOString();

                //NUMACC

                //get and add+1 numAcc
                var numAcc = parseInt(sessionStorage.getItem("numAccion"));
                numAcc++;
                sessionStorage.setItem("numAccion", numAcc);

                //DATOSRAW
                //get datosRaw to add row in ajax.beforeSend
                var datosRaw;
                if ((datosRaw = JSON.parse(sessionStorage.getItem("datosRaw"))) == null) {
                    datosRaw = {};
                }

                $.ajax({
                    url: "PL2_Pregunta_Seleccion_Validar", //url: 'Validar',
                    type: 'POST',
                    data: { GrupoID: '@du.GrupoID', ModuloID: '@du.ModuloID', PreguntaID: '@Model.PreguntaID', respuesta: $('#seleccion').val(), moment: datetimeclient, numAccion: numAcc},
                    //guirisan/secuencias
                    beforeSend: function () {
                        //set datosRaw on sessionStorage
                        var cadena = "url:[" + this.url + "]__data:[" + this.data.replace(/&/g, "_") + "]";
                        datosRaw[numAcc] = cadena;
                        sessionStorage.setItem("datosRaw", JSON.stringify(datosRaw));

                        //set datosRaw on ajax petition
                        this.data = this.data + "&dataRow=" + numAcc + "__" + cadena;
                    },
                    success: function (result) {
                        // data.redirect contains the string URL to redirect to                        
                        if (result.mensaje != null && result.mensaje != "") {
                            @if (configPregunta.FeedbackProfesor || configPregunta.FeedbackAlumno)
                            {
                                @: parent.feedbackAvatar(result.mensaje, "@configPregunta.FeedbackProfesor");
                                                        }
                            else
                            {
                                @: parent.feedbackVentana(result.mensaje);
                                                        }
                        }
                        window.location.href = result.redirect;
                    },
                    error: function () {
                        alert("error");
                    }
                });
            });
            
            /**************/
            /*** AYUDAS ***/
            /**************/
            @if (Model.Ayuda != null)
            {
                if (Model.Ayuda.ParafraseoN1 != null)
                {   
                    <text>
                    $('#btnFlotador').click(function () {
                        $("#btnFlotador").attr("disabled", "disabled");

                        //guirisan/secuencias
                        //datetime set in client
                        var datetimeclient = new Date().toISOString();

                        //NUMACC

                        //get and add+1 numAcc
                        var numAcc = parseInt(sessionStorage.getItem("numAccion"));
                        numAcc++;
                        sessionStorage.setItem("numAccion", numAcc);

                        //DATOSRAW
                        //get datosRaw to add row in ajax.beforeSend
                        var datosRaw;
                        if ((datosRaw = JSON.parse(sessionStorage.getItem("datosRaw"))) == null) {
                            datosRaw = {};
                        }


                        $.ajax({
                            url: "RegistrarAccion",
                            type: 'POST',
                            data: { DatosUsuarioID: '@du.DatosUsuarioID', GrupoID: '@du.GrupoID', ModuloID: '@configModulo.ModuloID', TextoID: '@Model.Texto.TextoID', PreguntaID: '@Model.PreguntaID', CodeOP: 34, moment: datetimeclient, numAccion: numAcc },
                            //guirisan/secuencias
                            beforeSend: function () {
                                //set datosRaw on sessionStorage
                                var cadena = "url:[" + this.url + "]__data:[" + this.data.replace(/&/g, "_") + "]";
                                datosRaw[numAcc] = cadena;
                                sessionStorage.setItem("datosRaw", JSON.stringify(datosRaw));

                                //set datosRaw on ajax petition
                                this.data = this.data + "&dataRow=" + numAcc + "__" + cadena;
                            },
                            error: function () {
                                alert("Error: Hubo un error con tu última acción.");
                            }
                        });
                        /*$.ajax({
                            url: "UsoAyudasIndependiente",
                            type: 'POST',
                            data: { Ayuda: 1 }
                        });*/

                        $('#ayuFlotador').show();

                        parent.autofitIframe(parent.document.getElementById("addIframe"));
                    });
                    </text>
                }

                if (Model.Ayuda.Lupa != null)
                {
                    <text>
                    $("#btnLupa").click(function () {
                        $("#btnLupa").attr("disabled", "disabled");

                        //guirisan/secuencias
                        //datetime set in client
                        var datetimeclient = new Date().toISOString();

                        //NUMACC

                        //get and add+1 numAcc
                        var numAcc = parseInt(sessionStorage.getItem("numAccion"));
                        numAcc++;
                        sessionStorage.setItem("numAccion", numAcc);

                        //DATOSRAW
                        //get datosRaw to add row in ajax.beforeSend
                        var datosRaw;
                        if ((datosRaw = JSON.parse(sessionStorage.getItem("datosRaw"))) == null) {
                            datosRaw = {};
                        }


                        $.ajax({
                            url: "RegistrarAccion",
                            type: 'POST',
                            data: { DatosUsuarioID: '@du.DatosUsuarioID', GrupoID: '@du.GrupoID', ModuloID: '@configModulo.ModuloID', TextoID: '@Model.Texto.TextoID', PreguntaID: '@Model.PreguntaID', CodeOP: 36, moment: datetimeclient, numAccion: numAcc},
                            //guirisan/secuencias
                            beforeSend: function () {
                                //set datosRaw on sessionStorage
                                var cadena = "url:[" + this.url + "]__data:[" + this.data.replace(/&/g, "_") + "]";
                                datosRaw[numAcc] = cadena;
                                sessionStorage.setItem("datosRaw", JSON.stringify(datosRaw));

                                //set datosRaw on ajax petition
                                this.data = this.data + "&dataRow=" + numAcc + "__" + cadena;
                            },
                            error: function () {
                                alert("Error: Hubo un error con tu última acción.");
                            }
                        });

                        var array = '@Html.Raw(@Model.Ayuda.Lupa)'.split('+');
                                
                        $('.paginas', window.parent.document).each(function () {
                            var param = '@Html.Raw(@Model.Ayuda.Lupa)'.split('/');

                            for (var i = 0; i < param.length; i++) {                        
                                $(this).html($(this).html().replace(param[i], "<lupa style=\"background-color:yellow;\">" + param[i] + "</lupa>"));                        
                            }
                        });                                
                    });
                    </text>
                }

                if (Model.Ayuda.Prismaticos != null)
                {
                    <text>
                    $('#btnPrismaticos').click(function () {
                        $("#btnPrismaticos").attr("disabled", "disabled");

                        //guirisan/secuencias
                        //datetime set in client
                        var datetimeclient = new Date().toISOString();

                        //NUMACC

                        //get and add+1 numAcc
                        var numAcc = parseInt(sessionStorage.getItem("numAccion"));
                        numAcc++;
                        sessionStorage.setItem("numAccion", numAcc);

                        //DATOSRAW
                        //get datosRaw to add row in ajax.beforeSend
                        var datosRaw;
                        if ((datosRaw = JSON.parse(sessionStorage.getItem("datosRaw"))) == null) {
                            datosRaw = {};
                        }

                        $.ajax({
                            url: "RegistrarAccion",
                            type: 'POST',
                            data: { DatosUsuarioID: '@du.DatosUsuarioID', GrupoID: '@du.GrupoID', ModuloID: '@configModulo.ModuloID', TextoID: '@Model.Texto.TextoID', PreguntaID: '@Model.PreguntaID', CodeOP: 35 ,moment: datetimeclient, numAccion: numAcc },
                            //guirisan/secuencias
                            beforeSend: function () {
                                //set datosRaw on sessionStorage
                                var cadena = "url:[" + this.url + "]__data:[" + this.data.replace(/&/g, "_") + "]";
                                datosRaw[numAcc] = cadena;
                                sessionStorage.setItem("datosRaw", JSON.stringify(datosRaw));

                                //set datosRaw on ajax petition
                                this.data = this.data + "&dataRow=" + numAcc + "__" + cadena;
                            },
                            error: function () {
                                alert("Error: Hubo un error con tu última acción.");
                            }
                        });

                        $('.paginas', window.parent.document).each(function () {
                            var param = '@Html.Raw(@Model.Ayuda.Prismaticos)'.split('/');

                            for (var i = 0; i < param.length; i++) {
                                $(this).html($(this).html().replace(param[i], "<prismaticos style=\"border:1px solid red;\">" + param[i] + "</prismaticos>"));
                            }
                        });
                    });
                    </text>
                }
            }
            /**************************************/
            /**************************************/
            /******* CONFIGURACIÓN PREGUNTA *******/
            /**************************************/
            /**************************************/
            if ('@configPregunta.EnmascararEnunciado' == 'True') {
                $('#enunciado').addClass("difuminado");
                
                $('#enunciado').click(function () {                    
                    if ($('#enunciado').hasClass("difuminado")) {

                        @if (configPregunta != null && configPregunta.EnmascararTexto)
                        {
                            <text>
                        window.parent.$('.paginas').css("-webkit-filter", "blur(5px)");
                        window.parent.$('.paginas').css("filter", "url(#example-one)");
                            </text>
                        }
                        else
                        {
                            <text>
                        window.parent.$('.paginas').css("-webkit-filter", "");
                        window.parent.$('.paginas').css("filter", "");
                        </text>
                        }

                        $(":radio").attr("disabled", false);

                        $('#enunciado').removeClass("difuminado").addClass("no_difuminado");

                        if ('@configPregunta.EnmascararAlternativas' == 'True') {
                            if ($('#alternativas').hasClass("difuminado")) {
                                
                            }
                            else {
                                $('#alternativas').removeClass("no_difuminado").addClass("difuminado");

                                // Calcular tiempo de alternativa y enviar al servidor
                                timeFinish = jQuery.now();

                                var diff = timeFinish - timeStart;

                                //guirisan/secuencias
                                //datetime set in client
                                var datetimeclient = new Date().toISOString();

                                //NUMACC

                                //get and add+1 numAcc
                                var numAcc = parseInt(sessionStorage.getItem("numAccion"));
                                numAcc++;
                                sessionStorage.setItem("numAccion", numAcc);

                                //DATOSRAW
                                //get datosRaw to add row in ajax.beforeSend
                                var datosRaw;
                                if ((datosRaw = JSON.parse(sessionStorage.getItem("datosRaw"))) == null) {
                                    datosRaw = {};
                                }

                                $.ajax({
                                    url: "RegistrarAccion",
                                    type: 'POST',
                                    data: { DatosUsuarioID: '@du.DatosUsuarioID', GrupoID: '@du.GrupoID', ModuloID: '@configModulo.ModuloID', TextoID: '@Model.Texto.TextoID', PreguntaID: '@Model.PreguntaID', CodeOP: 19, Param: diff.toString(), moment: datetimeclient, numAccion: numAcc },
                                    //guirisan/secuencias
                                    beforeSend: function () {
                                        //set datosRaw on sessionStorage
                                        var cadena = "url:[" + this.url + "]__data:[" + this.data.replace(/&/g, "_") + "]";
                                        datosRaw[numAcc] = cadena;
                                        sessionStorage.setItem("datosRaw", JSON.stringify(datosRaw));

                                        //set datosRaw on ajax petition
                                        this.data = this.data + "&dataRow=" + numAcc + "__" + cadena;
                                    },
                                    error: function () {
                                        alert("Error: Hubo un error con tu última acción.");
                                    }
                                });
                            }

                        }
                              
                        timeStart = jQuery.now();                        
                    }
                });               
            }

            if ('@configPregunta.EnmascararAlternativas' == 'True') {
                $('#alternativas').addClass("difuminado");

                $('#alternativas').click(function () {
                    if ($('#alternativas').hasClass("difuminado")) {
                        $('#alternativas').removeClass("difuminado").addClass("no_difuminado");

                        @if (configPregunta != null && configPregunta.EnmascararTexto)
                        {
                            <text>
                        window.parent.$('.paginas').css("-webkit-filter", "blur(5px)");
                        window.parent.$('.paginas').css("filter", "url(#example-one)");
                            </text>
                        }
                        else
                        {
                            <text>
                        window.parent.$('.paginas').css("-webkit-filter", "");
                        window.parent.$('.paginas').css("filter", "");
                            </text>
                        }

                        if ('@configPregunta.EnmascararEnunciado' == 'True') {
                            if ($('#enunciado').hasClass("difuminado")) {

                            }
                            else {
                                $('#enunciado').removeClass("no_difuminado").addClass("difuminado");
                                // Calcular tiempo de alternativa y enviar al servidor
                                timeFinish = jQuery.now();

                                var diff = timeFinish - timeStart;

                                //guirisan/secuencias
                                //datetime set in client
                                var datetimeclient = new Date().toISOString();

                                //NUMACC

                                //get and add+1 numAcc
                                var numAcc = parseInt(sessionStorage.getItem("numAccion"));
                                numAcc++;
                                sessionStorage.setItem("numAccion", numAcc);

                                //DATOSRAW
                                //get datosRaw to add row in ajax.beforeSend
                                var datosRaw;
                                if ((datosRaw = JSON.parse(sessionStorage.getItem("datosRaw"))) == null) {
                                    datosRaw = {};
                                }

                                $.ajax({
                                    url: "RegistrarAccion",
                                    type: 'POST',
                                    data: { DatosUsuarioID: '@du.DatosUsuarioID', GrupoID: '@du.GrupoID', ModuloID: '@configModulo.ModuloID', TextoID: '@Model.Texto.TextoID', PreguntaID: '@Model.PreguntaID', CodeOP: 18, Param: diff.toString(), moment: datetimeclient, numAccion: numAcc},
                                    //guirisan/secuencias
                                    beforeSend: function () {
                                        //set datosRaw on sessionStorage
                                        var cadena = "url:[" + this.url + "]__data:[" + this.data.replace(/&/g, "_") + "]";
                                        datosRaw[numAcc] = cadena;
                                        sessionStorage.setItem("datosRaw", JSON.stringify(datosRaw));

                                        //set datosRaw on ajax petition
                                        this.data = this.data + "&dataRow=" + numAcc + "__" + cadena;
                                    },
                                    error: function () {
                                        alert("Error: Hubo un problema con tu última acción.");
                                    }
                                });
                            }
                        }

                        timeStart = jQuery.now();
                    }
                });
            }

            @if (configModulo.Ayudas)
            {   
                @: $('#ayudas').show();
                @: $('#ayudas').css("visibility", "visible")
            }
            else
            {
                if (configPregunta.Ayuda)
                {
                    @: $('#ayudas').show();
                    @: $('#ayudas').css("visibility", "visible")
                }
                else
                {
                    @: $('#ayudas').hide();
                    @: $('#ayudas').css("visibility", "hidden")
                }
            }                

            $(":radio").change(function () {
                $("#btnValidarTest").removeAttr("disabled");
            });

            $("#btnValidarTest").attr("disabled", "disabled");

            /**************************************/
            /**************************************/
            
        });

        function ClickPagina() {
            if ('@configPregunta.EnmascararEnunciado' == 'True') {
                $('#enunciado').removeClass("no_difuminado").addClass("difuminado");
            }

            if ('@configPregunta.EnmascararAlternativas' == 'True') {
                $('#alternativas').removeClass("no_difuminado").addClass("difuminado");
            }
        }
    </script>
}
