@model ReadAndLearn.Models.Pregunta
@using ReadAndLearn.Models;

@{
    ViewBag.Title = "Pregunta Simple Corregida";
    Layout = "~/Views/Shared/_LayoutNada.cshtml";
    ConfigPregunta config = ViewBag.config;
}

<div id=enunciado style="margin-left: 20px; margin-top: 20px;">
    @Model.Enunciado
    <div style="float:right; padding-right:20px;"><b style="padding-right:5px;">Puntuación:</b><span id="puntos">@ViewBag.Puntos</span> puntos.</div>
</div>

<div id=alternativas style="margin-left: 20px; margin-top: 20px;">
    @{
        if (config.MarcarCorrecto)
        {
            foreach (Alternativa alt in Model.Alternativas)
            {
                if (alt.Valor)
                {
                    <img src="~/Content/tick.png" style="width: 15px; height: 15px;" />     
                    if (alt.Opcion == ViewBag.Respuesta)
                    {
                        @Html.RadioButtonFor(r => alt, alt.Opcion, new { @style = "width:20px;", disabled = "disabled", Checked = "checked" }) @alt.Opcion <br />
                    }
                    else
                    {
                        @Html.RadioButtonFor(r => alt, alt.Opcion, new { @style = "width:20px;", disabled = "disabled" }) @alt.Opcion <br />
                    }           
         
                }
                else
                {
                    <img src="~/Content/aspa.png" style="width: 15px; height: 15px;" />
                    if (alt.Opcion == ViewBag.Respuesta)
                    {
                        @Html.RadioButtonFor(r => alt, alt.Opcion, new { @style = "width:20px;", disabled = "disabled", Checked = "checked" }) @alt.Opcion <br />
                    }
                    else
                    {
                        @Html.RadioButtonFor(r => alt, alt.Opcion, new { @style = "width:20px;", disabled = "disabled" }) @alt.Opcion <br />
                    }
                }
            }
        }
        else
        {
            foreach (Alternativa alt in Model.Alternativas)
            {
                if (alt.Valor)
                {            
                    @Html.RadioButtonFor(r => alt, alt.Opcion, new { @style = "width:20px;", disabled = "disabled" }) @alt.Opcion <br />
                }
                else
                {   
                    @Html.RadioButtonFor(r => alt, alt.Opcion, new { @style = "width:20px;", disabled = "disabled" }) @alt.Opcion <br />
                }
            }
        }
    }
    <br />

    @if (ViewBag.TareaSeleccion)
    {
        <div id="miSeleccion" style="padding-right:20px;">
                <h3>Mi Selección</h3>
                <label style="color:red;">@Html.Raw(ViewBag.Seleccion)</label> <br />           
        </div>
    }
</div>

<button id="btnSiguiente" style="margin-left: 20px;">Siguiente</button>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {            
            ev.dataTransfer.setData("Text", ev.target.id);
        }

        function drop(ev) {            
            ev.preventDefault();            
            var data = ev.dataTransfer.getData("Text");

            if (ev.target.id.indexOf("drag") == -1)
                ev.target.appendChild(document.getElementById(data));
        }

        $(document).ready(function () {
            var ini = $.now();
            $("#puntos").val('@ViewBag.Puntos');
            $("#btnSiguiente").click(function () {
                window.parent.$('img').imgAreaSelect({ remove: true });
                //guirisan/secuencias
                //datetime set in client
                var datetimeclient = new Date().toISOString();

                //NUMACC

                //get and add+1 numAcc
                var numAcc = parseInt(sessionStorage.getItem("numAccion"));
                numAcc++;
                sessionStorage.setItem("numAccion", numAcc);

                //DATOSRAW
                //get datosRaw to add row in ajax.beforeSend
                var datosRaw;
                if ((datosRaw = JSON.parse(sessionStorage.getItem("datosRaw"))) == null) {
                    datosRaw = {};
                }
                if ($.now() - ini > 5000) // REVISA EN 5 SEGUNDOS
                {
                    
                    $.ajax({
                        url: "RevisaIndependiente",
                        type: 'POST',
                        data: { moment: datetimeclient, numAccion: numAcc },
                        //guirisan/secuencias
                        beforeSend: function () {
                            //set datosRaw on sessionStorage
                            var cadena = "url:[" + this.url + "]__data:[" + this.data.replace(/&/g, "_") + "]";
                            datosRaw[numAcc] = cadena;
                            sessionStorage.setItem("datosRaw", JSON.stringify(datosRaw));

                            //set datosRaw on ajax petition
                            this.data = this.data + "&dataRow=" + numAcc + "__" + cadena;
                        },
                    });
                }

                $.ajax({
                    url: "SiguientePregunta", //url: 'Validar',
                    type: 'POST',
                    data: { PreguntaID: '@Model.PreguntaID', pregActual: '@ViewBag.pregActual', pregTotal: '@ViewBag.pregTotal', TextoID: '@ViewBag.TextoID', moment: datetimeclient },
                    //guirisan/secuencias
                    beforeSend: function () {
                        //set datosRaw on sessionStorage
                        var cadena = "url:[" + this.url + "]__data:[" + this.data.replace(/&/g, "_") + "]";
                        datosRaw[numAcc] = cadena;
                        sessionStorage.setItem("datosRaw", JSON.stringify(datosRaw));

                        //set datosRaw on ajax petition
                        this.data = this.data + "&dataRow=" + numAcc + "__" + cadena;
                    },
                    success: function (result) {
                        $('.paginas', window.parent.document).each(function () {
                            $(this).html($(this).html().replace(/<lupa style=\"background-color:yellow;\">/g, ""));
                            $(this).html($(this).html().replace(/<\/lupa>/g, ""));
                            $(this).html($(this).html().replace(/<prismaticos style=\"border:1px solid red;\">/g, ""));
                            $(this).html($(this).html().replace(/<\/prismaticos>/g, ""));
                        });
                        

                        window.parent.$('#Pagina').attr("style", "-webkit-filter: blur(5px); filter:url(#example-one);")
                        
                        window.parent.$('#feedback').css("visibility", "hidden");
                        window.parent.$('#fdbkSMS').text("");

                        @if (@ViewBag.pregActual + 2 > 7)
                        {
                            <text>
                                // data.redirect contains the string URL to redirect to
                                window.parent.window.location.href = result.redirect;
                            </text>
                        }
                        else
                        {
                            <text>
                                // data.redirect contains the string URL to redirect to
                                window.location.href = result.redirect;                        
                            </text>
                        }
                        
                    },
                    error: function () {
                        alert("error");
                    }
                });
                return false;
            });

        });

        $(window).load(function () {
            @if (ViewBag.TareaSeleccion)
            {
                <text>
                    window.parent.$("#paging_container").css("padding-top", "420px");                    
                </text>
            }
            else
            {
                <text>
                    window.parent.$("#paging_container").css("padding-top", "240px");            
                </text>
            }
        });
    </script>
}