@using ReadAndLearn.Models;
@model ReadAndLearn.Models.Pregunta
@using System.Text.RegularExpressions;
@{
    ViewBag.Title = "PL7_Pregunta";
    Layout = "~/Views/Shared/_LayoutNada.cshtml";
    DatosUsuario du = (DatosUsuario)ViewBag.DatosUsuario;
    ConfigModulo configModulo = (ConfigModulo)ViewBag.ConfigModulo;
    ConfigPregunta configPregunta = (ConfigPregunta)ViewBag.ConfigPregunta;
    DatoSimple ds = (DatoSimple)ViewBag.Seleccion;
    Regex regex = new Regex(string.Format("\\{0}.*?\\{1}", '<', '>'));
}

<div style="margin: 15px 20px;" id="areaPregunta">
    
    @if(configModulo != null && configModulo.Puntos)
    {
        <div style="float:right;">
            <b>PUNTOS:</b>
            <span style="padding-left: 5px;" id="puntos">@du.Puntos</span>
        </div>
    }

    <div id=enunciado style="padding-left: 20px; padding-right: 20px;" class="largerFont">
        @Html.Raw(Model.Enunciado)
    </div>
     
    <div id=alternativas style="padding-left: 20px; padding-right: 20px;" class="largerFont">
        <ul>
        @foreach (Alternativa alt in Model.Alternativas)
        {
            if(alt.Opcion != null)
            {
                @Html.RadioButtonFor(r => alt, alt.Opcion, new { @class = "radio", @style = "width:20px" }) @Html.Raw(alt.Opcion) <br />
            }
            else
            {
                @Html.RadioButtonFor(r => alt, "null", new { @class = "radio", @style = "width:20px" }) @Html.Raw(alt.Opcion) <br />
            }
        }
        </ul>
    </div>

    @if (ViewBag.TareaSel)
    {
        if (configPregunta != null && configPregunta.CorregirSeleccion)
        {
            <div style="padding-left: 20px; padding-right: 20px;">
                <b>Selección:</b>
                <p style="color:red;">@Html.Raw(ds.Info2)</p>            
            </div>
        }
        else
        {
            <div style="padding-left: 20px; padding-right: 20px;">
                <b>Selección:</b>
                <p>@Html.Raw(regex.Replace(ds.Info2, string.Empty))</p>            
            </div>
        }
    }

    
    
    <div style="padding-left: 20px; padding-right: 20px;">
        <button id="btnValidarTest">Validar</button>
        @if (Model.Texto.ConfigTexto.Busqueda)
        {
            <button id="btnBackToTexto"><a href="PL7_Texto?GrupoID=@du.GrupoID&ModuloID=@du.ModuloID&textoActual=@du.TextoActual&primerIntento=true">Volver al texto</a></button>
        }
    </div>
</div> 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
    $(document).ready(function () {

        //guirisan/issues https://github.com/guirisan/ituinbook/issues/38
        //parametrizar el enlace que permite volver al texto para que incluya el tiempo de cliente
        //EN el segundo intento permitimos al usuario volver a consultar el texto antes de responder
        var parametrizacionHecha = false;
        $("#btnBackToTexto").click(function (e) {
            if (parametrizacionHecha === true) {
                return true;
            }

            //parametrizacion del enlace
            var oldhref = $("#btnBackToTexto a").attr("href");
            var datetimeclient = new Date().toISOString();
            $("#btnBackToTexto a").attr("href", oldhref + "&moment=" + datetimeclient);


            parametrizacionHecha = true;
            $("#btnBackToTexto").unbind('click');
            $(this).trigger('click');
        });


        var timeStart = new Date();
        var timeFinish = new Date();

        @if(configPregunta != null && configPregunta.EnmascararTexto)
            {
                <text>
        //parent.BlurPagina("True");
        window.parent.$('.paginas').css("-webkit-filter", "blur(5px)");
        window.parent.$('.paginas').css("filter", "url(#example-one)");
        </text>
            }
            else
            {
                <text>

        window.parent.$('.paginas').css("-webkit-filter", "");
        window.parent.$('.paginas').css("filter", "");
        </text>
            }

        $("#btnValidarTest").click(function () {
            $("#btnValidarTest").attr("disabled", "disabled");

            var alter = "";

            $(":radio").each(function () {
                if ($(this).is(":checked")) {
                    alter = $(this).val();
                    return false;
                }
            });

            //guirisan: datetime set in client
            var datetimeclient = new Date();
            datetimeclient = datetimeclient.toISOString();

            //NUMACC

            //developemtn. this line must be deleted, and numAccion set from ViewBag
            //sessionStorage.setItem("numAccion", 3);

            //get and add+1 numAcc
            var numAcc = parseInt(sessionStorage.getItem("numAccion"));
            numAcc++;
            sessionStorage.setItem("numAccion", numAcc);

            //DATOSRAW
            //get datosRaw to add row in ajax.beforeSend
            var datosRaw;
            if ((datosRaw = JSON.parse(sessionStorage.getItem("datosRaw"))) == null) {
                datosRaw = {};
            }


            $.ajax({
                url: "PL7_Pregunta_Test_Validar", //url: 'Validar',
                type: 'POST',
                data: { GrupoID: '@du.GrupoID', ModuloID: '@du.ModuloID', PreguntaID: '@Model.PreguntaID', respuesta: alter, moment: datetimeclient, numAccion: numAcc },
                //guirisan/secuencias
                beforeSend: function () {
                    //set datosRaw on sessionStorage
                    var cadena = "url:[" + this.url + "]__data:[" + this.data.replace(/&/g, "_") + "]";
                    datosRaw[numAcc] = cadena;
                    sessionStorage.setItem("datosRaw", JSON.stringify(datosRaw));

                    //set datosRaw on ajax petition
                    this.data = this.data + "&dataRow=" + numAcc + "__" + cadena;
                },
                success: function (result) {
                    window.location.href = result.redirect;

                    if (!(result.mensaje == null || result.mensaje == "")) {
                        @if(configPregunta != null)
                            {
                                if (configPregunta.FeedbackProfesor || configPregunta.FeedbackAlumno)
                                {
                                    @: parent.feedbackAvatar(result.mensaje, "@configPregunta.FeedbackProfesor");
                                                                                                        }
                                else
                                {
                                    @: parent.feedbackVentana(result.mensaje);
                                                                                                        }
                            }
                            else
                            {
                                @: parent.feedbackVentana(result.mensaje);
                                                                                                    }
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        });

        /**************/
        /*** AYUDAS ***/
        /**************/
        @if (Model.Ayuda != null)
            {
                if (Model.Ayuda.ParafraseoN1 != null)
                {
                    <text>
        $('#btnFlotador').click(function () {
            $("#btnFlotador").attr("disabled", "disabled");

            //guirisan/secuencias
            //datetime set in client
            var datetimeclient = new Date().toISOString();

            //NUMACC

            //get and add+1 numAcc
            var numAcc = parseInt(sessionStorage.getItem("numAccion"));
            numAcc++;
            sessionStorage.setItem("numAccion", numAcc);

            //DATOSRAW
            //get datosRaw to add row in ajax.beforeSend
            var datosRaw;
            if ((datosRaw = JSON.parse(sessionStorage.getItem("datosRaw"))) == null) {
                datosRaw = {};
            }

            $.ajax({
                url: "RegistrarAccion",
                type: 'POST',
                data: { DatosUsuarioID: '@du.DatosUsuarioID', GrupoID: '@du.GrupoID', ModuloID: '@du.ModuloID', TextoID: '@Model.Texto.TextoID', PreguntaID: '@Model.PreguntaID', CodeOP: 34, moment: datetimeclient, numAccion: numAcc },
                //guirisan/secuencias
                beforeSend: function () {
                    //set datosRaw on sessionStorage
                    var cadena = "url:[" + this.url + "]__data:[" + this.data.replace(/&/g, "_") + "]";
                    datosRaw[numAcc] = cadena;
                    sessionStorage.setItem("datosRaw", JSON.stringify(datosRaw));

                    //set datosRaw on ajax petition
                    this.data = this.data + "&dataRow=" + numAcc + "__" + cadena;
                },
                error: function () {
                    alert("Error: Hubo un error con tu última acción.");
                }
            });
            /*$.ajax({
                url: "UsoAyudasIndependiente",
                type: 'POST',
                data: { Ayuda: 1 }
            });*/

            $('#ayuFlotador').show();

            parent.autofitIframe(parent.document.getElementById("addIframe"));
        });
        </text>
                }

                if (Model.Ayuda.Lupa != null)
                {
                    <text>
        $("#btnLupa").click(function () {
            $("#btnLupa").attr("disabled", "disabled");

            //guirisan/secuencias
            //datetime set in client
            var datetimeclient = new Date().toISOString();

            //NUMACC

            //get and add+1 numAcc
            var numAcc = parseInt(sessionStorage.getItem("numAccion"));
            numAcc++;
            sessionStorage.setItem("numAccion", numAcc);

            //DATOSRAW
            //get datosRaw to add row in ajax.beforeSend
            var datosRaw;
            if ((datosRaw = JSON.parse(sessionStorage.getItem("datosRaw"))) == null) {
                datosRaw = {};
            }


            $.ajax({
                url: "RegistrarAccion",
                type: 'POST',
                data: { DatosUsuarioID: '@du.DatosUsuarioID', GrupoID: '@du.GrupoID', ModuloID: '@du.ModuloID', TextoID: '@Model.Texto.TextoID', PreguntaID: '@Model.PreguntaID', CodeOP: 36, moment: datetimeclient, numAccion: numAcc },
                //guirisan/secuencias
                beforeSend: function () {
                    //set datosRaw on sessionStorage
                    var cadena = "url:[" + this.url + "]__data:[" + this.data.replace(/&/g, "_") + "]";
                    datosRaw[numAcc] = cadena;
                    sessionStorage.setItem("datosRaw", JSON.stringify(datosRaw));

                    //set datosRaw on ajax petition
                    this.data = this.data + "&dataRow=" + numAcc + "__" + cadena;
                },
                error: function () {
                    alert("Error: Hubo un error con tu última acción.");
                }
            });

            var array = '@Html.Raw(@Model.Ayuda.Lupa)'.split('+');

            $('.paginas', window.parent.document).each(function () {
                var param = '@Html.Raw(@Model.Ayuda.Lupa)'.split('/');

                for (var i = 0; i < param.length; i++) {
                    $(this).html($(this).html().replace(param[i], "<lupa style=\"background-color:yellow;\">" + param[i] + "</lupa>"));
                }
            });
        });
        </text>
                }

                if (Model.Ayuda.Prismaticos != null)
                {
                    <text>
        $('#btnPrismaticos').click(function () {
            $("#btnPrismaticos").attr("disabled", "disabled");

            //guirisan/secuencias
            //datetime set in client
            var datetimeclient = new Date().toISOString();

            //NUMACC

            //get and add+1 numAcc
            var numAcc = parseInt(sessionStorage.getItem("numAccion"));
            numAcc++;
            sessionStorage.setItem("numAccion", numAcc);

            //DATOSRAW
            //get datosRaw to add row in ajax.beforeSend
            var datosRaw;
            if ((datosRaw = JSON.parse(sessionStorage.getItem("datosRaw"))) == null) {
                datosRaw = {};
            }

            $.ajax({
                url: "RegistrarAccion",
                type: 'POST',
                data: { DatosUsuarioID: '@du.DatosUsuarioID', GrupoID: '@du.GrupoID', ModuloID: '@du.ModuloID', TextoID: '@Model.Texto.TextoID', PreguntaID: '@Model.PreguntaID', CodeOP: 35, moment: datetimeclient, numAccion: numAcc },
                //guirisan/secuencias
                beforeSend: function () {
                    //set datosRaw on sessionStorage
                    var cadena = "url:[" + this.url + "]__data:[" + this.data.replace(/&/g, "_") + "]";
                    datosRaw[numAcc] = cadena;
                    sessionStorage.setItem("datosRaw", JSON.stringify(datosRaw));

                    //set datosRaw on ajax petition
                    this.data = this.data + "&dataRow=" + numAcc + "__" + cadena;
                },
                error: function () {
                    alert("Error: Hubo un error con tu última acción.");
                }
            });

            $('.paginas', window.parent.document).each(function () {
                var param = '@Html.Raw(@Model.Ayuda.Prismaticos)'.split('/');

                for (var i = 0; i < param.length; i++) {
                    $(this).html($(this).html().replace(param[i], "<prismaticos style=\"border:1px solid red;\">" + param[i] + "</prismaticos>"));
                }
            });
        });
        </text>
                }
            }
        /**************************************/
        /**************************************/
        /******* CONFIGURACIÓN PREGUNTA *******/
        /**************************************/
        /**************************************/
        @if(configPregunta != null)
            {
            <text>
        if ('@configPregunta.EnmascararEnunciado' == 'True') {
            $('#enunciado').addClass("difuminado");

            $('#enunciado').click(function () {
                if ($('#enunciado').hasClass("difuminado")) {
                    @if (configPregunta != null && configPregunta.EnmascararTexto)
                        {
                            <text>
                    window.parent.$('.paginas').css("-webkit-filter", "blur(5px)");
                    window.parent.$('.paginas').css("filter", "url(#example-one)");
                    </text>
                        }
                        else
                        {
                            <text>
                    window.parent.$('.paginas').css("-webkit-filter", "");
                    window.parent.$('.paginas').css("filter", "");
                    </text>
                        }

                    //guirisan/secuencias
                    //datetime set in client
                    var datetimeclient = new Date().toISOString();

                    //NUMACC

                    //get and add+1 numAcc
                    var numAcc = parseInt(sessionStorage.getItem("numAccion"));
                    numAcc++;
                    sessionStorage.setItem("numAccion", numAcc);

                    //DATOSRAW
                    //get datosRaw to add row in ajax.beforeSend
                    var datosRaw;
                    if ((datosRaw = JSON.parse(sessionStorage.getItem("datosRaw"))) == null) {
                        datosRaw = {};
                    }

                    $.ajax({
                        url: "RegistrarAccion",
                        type: 'POST',
                        data: { DatosUsuarioID: '@du.DatosUsuarioID', GrupoID: '@du.GrupoID', ModuloID: '@configModulo.ModuloID', TextoID: '@Model.Texto.TextoID', PreguntaID: '@Model.PreguntaID', CodeOP: 92, Param: "enunciado", ParamInt: '@Model.Orden', moment: datetimeclient, numAccion: numAcc },
                        //guirisan/secuencias
                        beforeSend: function () {
                            //set datosRaw on sessionStorage
                            var cadena = "url:[" + this.url + "]__data:[" + this.data.replace(/&/g, "_") + "]";
                            datosRaw[numAcc] = cadena;
                            sessionStorage.setItem("datosRaw", JSON.stringify(datosRaw));

                            //set datosRaw on ajax petition
                            this.data = this.data + "&dataRow=" + numAcc + "__" + cadena;
                        },
                        error: function () {
                            alert("Error: Hubo un error con tu última acción.");
                        }
                    });

                    $(":radio").attr("disabled", false);

                    $('#enunciado').removeClass("difuminado").addClass("no_difuminado");

                    if ('@configPregunta.EnmascararAlternativas' == 'True') {
                        if ($('#alternativas').hasClass("difuminado")) {

                        }
                        else {
                            $('#alternativas').removeClass("no_difuminado").addClass("difuminado");

                            //BORRADO LO QUE HABÍA PARA ELIMINAR EL DATOSIMPLE 19
                        }
                    }

                    timeStart = jQuery.now();
                }
            });
        }

        if ('@configPregunta.EnmascararAlternativas' == 'True') {
            $('#alternativas').addClass("difuminado");

            $('#alternativas').click(function () {
                if ($('#alternativas').hasClass("difuminado")) {
                    @if (configPregunta != null && configPregunta.EnmascararTexto)
                        {
                            <text>
                    window.parent.$('.paginas').css("-webkit-filter", "blur(5px)");
                    window.parent.$('.paginas').css("filter", "url(#example-one)");
                    </text>
                        }
                        else
                        {
                            <text>
                    window.parent.$('.paginas').css("-webkit-filter", "");
                    window.parent.$('.paginas').css("filter", "");
                    </text>
                        }

                    //guirisan/secuencias
                    //datetime set in client
                    var datetimeclient = new Date().toISOString();

                    //NUMACC

                    //get and add+1 numAcc
                    var numAcc = parseInt(sessionStorage.getItem("numAccion"));
                    numAcc++;
                    sessionStorage.setItem("numAccion", numAcc);

                    //DATOSRAW
                    //get datosRaw to add row in ajax.beforeSend
                    var datosRaw;
                    if ((datosRaw = JSON.parse(sessionStorage.getItem("datosRaw"))) == null) {
                        datosRaw = {};
                    }
                    $.ajax({
                        url: "RegistrarAccion",
                        type: 'POST',
                        data: {  DatosUsuarioID: '@du.DatosUsuarioID', GrupoID: '@du.GrupoID', ModuloID: '@configModulo.ModuloID', TextoID: '@Model.Texto.TextoID', PreguntaID: '@Model.PreguntaID', CodeOP: 92, Param: "alternativas", ParamInt: '@Model.Orden', moment: datetimeclient, numAccion: numAcc },
                        //guirisan/secuencias
                        beforeSend: function () {
                            //set datosRaw on sessionStorage
                            var cadena = "url:[" + this.url + "]__data:[" + this.data.replace(/&/g, "_") + "]";
                            datosRaw[numAcc] = cadena;
                            sessionStorage.setItem("datosRaw", JSON.stringify(datosRaw));

                            //set datosRaw on ajax petition
                            this.data = this.data + "&dataRow=" + numAcc + "__" + cadena;
                        },
                        error: function () {
                            alert("Error: Hubo un error con tu última acción.");
                        }
                    });

                    $('#alternativas').removeClass("difuminado").addClass("no_difuminado");

                    if ('@configPregunta.EnmascararEnunciado' == 'True') {
                        if ($('#enunciado').hasClass("difuminado")) {

                        }
                        else {
                            $('#enunciado').removeClass("no_difuminado").addClass("difuminado");
                            // Calcular tiempo de alternativa y enviar al servidor
                            timeFinish = jQuery.now();

                            var diff = timeFinish - timeStart;

                            //BORRADO LO QUE HABÍA PARA ELIMINAR EL DATO SIMPLE 18

                        }
                    }

                    timeStart = jQuery.now();
                }
            });
        }
        </text>
            }

        @if(configModulo != null)
            {
                if (configModulo.Ayudas)
                {
                    @: $('#ayudas').show();
                                                        @: $('#ayudas').css("visibility", "visible")
                                        }
                else
                {
                    if (configPregunta != null && configPregunta.Ayuda)
                    {
                        @: $('#ayudas').show();
                                                            @: $('#ayudas').css("visibility", "visible")
                                            }
                    else
                    {
                        @: $('#ayudas').hide();
                                                            @: $('#ayudas').css("visibility", "hidden")
                                            }
                }
            }
            else
            {
                @: $('#ayudas').hide();
                                                    @: $('#ayudas').css("visibility", "hidden")
                                    }

        $(":radio").change(function () {
            $("#btnValidarTest").removeAttr("disabled");

            //guirisan/secuencias
            //datetime set in client
            var datetimeclient = new Date().toISOString();

            //NUMACC

            //get and add+1 numAcc
            var numAcc = parseInt(sessionStorage.getItem("numAccion"));
            numAcc++;
            sessionStorage.setItem("numAccion", numAcc);

            //DATOSRAW
            //get datosRaw to add row in ajax.beforeSend
            var datosRaw;
            if ((datosRaw = JSON.parse(sessionStorage.getItem("datosRaw"))) == null) {
                datosRaw = {};
            }
            $.ajax({
                url: "RegistrarAccion",
                type: 'POST',
                data: { DatosUsuarioID: '@du.DatosUsuarioID', GrupoID: '@du.GrupoID', ModuloID: '@du.ModuloID', TextoID: '@Model.Texto.TextoID', PreguntaID: '@Model.PreguntaID', CodeOP: 14, moment: datetimeclient, numAccion: numAcc, Param: $(this).val() },
                //guirisan/secuencias
                beforeSend: function () {
                    //set datosRaw on sessionStorage
                    var cadena = "url:[" + this.url + "]__data:[" + this.data.replace(/&/g, "_") + "]";
                    datosRaw[numAcc] = cadena;
                    sessionStorage.setItem("datosRaw", JSON.stringify(datosRaw));

                    //set datosRaw on ajax petition
                    this.data = this.data + "&dataRow=" + numAcc + "__" + cadena;
                },
                error: function () {
                    alert("Error: Hubo un problema con tu última acción.");
                }
            });
        });

        $("#btnValidarTest").attr("disabled", "disabled");

        /**************************************/
        /**************************************/

        //parent.IniciarTiempoPregunta();
    });

    function ClickPagina() {
        if ('@configPregunta.EnmascararEnunciado' == 'True') {
            $('#enunciado').removeClass("no_difuminado").addClass("difuminado");
        }

        if ('@configPregunta.EnmascararAlternativas' == 'True') {
            $('#alternativas').removeClass("no_difuminado").addClass("difuminado");
        }
    }
    </script>
}
