@model IEnumerable<Grupo> 
@using iTuinBook.Models;

@{
    ViewBag.Title = "Grupos";
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
}

<aside>    
    <h2>Menú</h2>
    <hr />
    <ul id="menuCategorias">   
        <li>
            @Html.ActionLink("Tareas", "Tareas", "Alumno")
        </li>                       
        <li>            
            @Html.ActionLink("Grupos", "Grupos", "Alumno")
        </li>                        
    </ul>
</aside>

<article>
    <h2>Grupos</h2>
    <hr />

    @{
        IEnumerable<Grupo> MisGrupos = ViewBag.MisGrupos;
        IEnumerable<Grupo> gruposSolicitados = ViewBag.gruposSolicitados;

        if (MisGrupos != null || gruposSolicitados != null)
        {
            <h3>Tus grupos</h3>
            <hr />

            <table id="tusgrupos">
                <tr>            
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripción
                    </th>           
                    <th>
                        Comandos
                    </th>
                </tr>
            @if(MisGrupos != null)    
            {
                foreach(var gru in MisGrupos)
                {
                <tr>                    
                    <td>
                        @Html.DisplayFor(modelItem => gru.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => gru.Descripcion)
                    </td>                   
                    <td>            
                        <b>Aceptado</b> (@Html.ActionLink("Abandonar grupo", "Abandonar", "Alumno", new { id = gru.GrupoID }, null))                    
                    </td>
                </tr>
                }
            }

            @if (gruposSolicitados != null)    
            {
                foreach (var gru in gruposSolicitados)
                {
                <tr>                    
                    <td>
                        @Html.DisplayFor(modelItem => gru.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => gru.Descripcion)
                    </td>                   
                    <td>            
                        <b>Pendiente</b> (@Html.ActionLink("Cancelar solicitud", "Abandonar", "Alumno", new { id = gru.GrupoID }, null))                    
                    </td>
                </tr>
                }
            }
            
            </table>
            <hr />
        }
    }

<h3>Unirme a otros grupos</h3>
<hr />
@using (Html.BeginForm())
{
    <p>
        Buscar por nombre: @Html.TextBox("SearchString")  
        <input type="submit" value="Buscar" />
    </p>
}

<table id="grupos">
    <tr>            
        <th>
            Nombre
        </th>
        <th>
            Descripción
        </th>            
        <th>
            Comandos
        </th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>            
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>          
        <td>          
            @if (item.Publico)
            {
                @Html.ActionLink("Unirse", "Unirse", "Alumno", new { id = item.GrupoID }, null)                 
            }
            else
            {
                @Html.ActionLink("Solicitar Unirse", "Solicitud", "Alumno", new { id = item.GrupoID }, null)                 
            }
        </td>
    </tr>
    }        
</table>
</article>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
     
    <script src="~/Content/KendoUI/js/kendo.web.min.js"></script>
    
    <link href="~/Content/KendoUI/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/KendoUI/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/KendoUI/styles/kendo.all.min.js" rel="stylesheet" />
    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tusgrupos").kendoGrid({
                dataSource: {                  
                    pageSize: 4
                },
                pageable: true,
                height: 224
            });

            $("#grupos").kendoGrid({                
                pageable: true,
                height: 224
            });

            $("#menuCategorias").kendoMenu({
                orientation: "vertical"
            }).css({
                width: auto,
                marginRight: "220px"
            });

            
        });
    </script>
}