@model iTuinBook.Models.TareaOrdenar

@{
    ViewBag.Title = "CrearTarea";
    Layout = "~/Views/Shared/_LayoutDocente.cshtml";
}

<h2>CrearTarea</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TareaOrdenar</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enunciado)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Enunciado)
            @Html.ValidationMessageFor(model => model.Enunciado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tipo)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Tipo, new [] {
                    new SelectListItem { Text = "Palabras", Value = "0" },
                    new SelectListItem { Text = "Frases", Value = "1" },
                    new SelectListItem { Text = "Imágenes", Value = "2" }
            }, "Selecciona tipo de elementos")
            @Html.ValidationMessageFor(model => model.Tipo)
        </div>

        <div class="editor-label">
            @Html.Label("Orientación")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Vertical, new [] {
                    new SelectListItem { Text = "Horizontal", Value = false.ToString() },
                    new SelectListItem { Text = "Vertical", Value = true.ToString() }                    
            }, "Selecciona la orientación")
            @Html.ValidationMessageFor(model => model.Vertical)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Num)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Num)
            @Html.ValidationMessageFor(model => model.Num)
        </div>

        <div hidden="hidden" class="editor-field">
            @Html.EditorFor(model => model.TextoID)        
        </div>

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
