@model ReadAndLearn.Models.Timing

@{
    ViewBag.Title = "EditarTiming";
    Layout = "~/Views/Shared/_LayoutDocente.cshtml";
    List<SelectListItem> TipoTimings = ViewBag.TipoTimings;
}

<h2>EditarTiming</h2>
<hr />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Timing</legend>

        @Html.HiddenFor(model => model.TimingID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        @Html.HiddenFor(model => model.UserProfileID)
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Tipo)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Tipo, TipoTimings, "Selecciona el tipo de Timings", new { @id = "TimingTipo" })
            @Html.ValidationMessageFor(model => model.Tipo)
        </div>

        <div class="editor-label">
            @Html.Label("Lanzar tras N preguntas")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PregLanzada, new { @id = "Preguntas"})
            @Html.ValidationMessageFor(model => model.PregLanzada)
        </div>
        <div id="acumulativo">
            <div class="editor-label">
                @Html.Label("Comprobar % de acierto en las N anteriores preguntas")
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.NAnterior, new { @id = "Anteriores"})
                @Html.ValidationMessageFor(model => model.NAnterior)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Feedback)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.Feedback, new { @id = "Feedbacks"})
                @Html.ValidationMessageFor(model => model.Feedback)
            </div>
        </div>

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver", "Feedback")
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Content/KendoUI/js/kendo.web.min.js"></script>
    
    <link href="~/Content/KendoUI/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/KendoUI/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/KendoUI/styles/kendo.all.min.js" rel="stylesheet" />
    
    <script type="text/javascript">
        $(document).ready(function () {         
            if ($("#TimingTipo").val() == 0) {                
                $("#Anteriores").val("0");
                $("#acumulativo").hide();
            }

            if ($("#TimingTipo").val() == 1) {                
                $("#acumulativo").show;
            }

            $("#Anteriores").change(function () {
                if ($.isNumeric($("#Anteriores").val())) {
                    var num = parseInt($("#Anteriores").val()) + 1;
                    var part = 100 / num;
                    var str = "(0)FEEDBACK";
                    for (var i = 1; i <= num; i++) {
                        if (i == num) {
                            str += "(100)";
                        }
                        else {
                            str += "(" + parseInt(part * i) + ")/(" + parseInt(part * i) + ")FEEDBACK";
                        }
                    }

                    $("#Feedbacks").val(str);

                }
                else {
                    $("#Feedbacks").val("");
                }
            });

            $("#TimingTipo").change(function () {
                if ($("#TimingTipo").val() == 0) {
                    $("#Preguntas").val("1");
                    $("#Anteriores").val("0");
                    $("#acumulativo").hide();
                }

                if ($("#TimingTipo").val() == 1) {
                    $("#Preguntas").val("1");
                    $("#Anteriores").val("1");
                    $("#acumulativo").show();

                    var num = parseInt($("#Anteriores").val()) + 1;
                    var part = 100 / num;
                    var str = "(0)FEEDBACK";
                    for (var i = 1; i <= num; i++) {
                        if (i == num) {
                            str += "(100)";
                        }
                        else {
                            str += "(" + parseInt(part * i) + ")/(" + parseInt(part * i) + ")FEEDBACK";
                        }
                    }

                    $("#Feedbacks").val(str);
                }
            });
            $("#menuCategorias").kendoMenu({
                orientation: "vertical"
            }).css({
                width: auto,
                marginRight: "220px"
            });
            alert("va");
        });
    </script>
}