<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Read&Learn</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />      
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")  
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Read&Learn", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <aside>    
                    <h2>Menú</h2>
                    <hr />
                    <ul id="menuCategorias">
                        <li>
                            @Html.ActionLink("Alumnos", "Alumnos", "Docente", new { @class = "editor-label" })                     
                        </li>
                        <li>
                            @Html.ActionLink("Módulos", "Modulos", "Docente")
                        </li>
                        <li>
                            @Html.ActionLink("Grupos", "Grupo", "Docente")
                        </li>
                        <li>
                            @Html.ActionLink("Feedback", "Feedback", "Docente")
                        </li>
                        <li>
                            @Html.ActionLink("Seguimientos", "Seguimientos", "Docente")

                        </li>
                    </ul>
                </aside>
                <article>
                    @RenderBody()
                </article>
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p><a href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
<img id="licensebutton_slim" alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-nd/3.0/80x15.png" style="margin-right:10px;margin-bottom:4px; border: 0;"></a> @DateTime.Now.Year - Read&Learn - ASP.NET MVC</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/cleditor")
        @Scripts.Render("~/bundles/lightness")
        
        @RenderSection("Scripts", required: false)  
    </body>
</html>


